# Environments
.env
.venv
env/
venv/
ENV/
.structgen/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Jupyter Notebooks
.ipynb_checkpoints

# Logs and databases
*.log
*.sqlite

#unneccesary files
updated/*

# Results and Local Data
tables/
figures/
logs/
docs/
data/queries/expanded_queries.json
